@{
    ViewData["Title"] = "RegisterTree";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["SubTitle"] = "CÂY XANH";
    ViewData["TopBreakCrumb"] = "Cây xanh";
    ViewData["ContentBreakCrumb"] = "Đăng ký cây xanh";
}

<p>Đăng ký cây xanh - Chức năng sắp ra mắt</p>

