
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">DANH SÁCH NGƯỜI DÙNG</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Người dùng</a></li>
                <li class="breadcrumb-item active">Quản lý người dùng</li>
            </ol>
            <!-- <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New</button> -->
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- Info box -->
<!-- ============================================================== -->
<div class="tableInfo">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="btn-group">
                        <button type="button" name="XoaMucDaChon" data-toggle="modal" data-target="#verticalcenter" class="btn btn-secondary" aria-haspopup="true" aria-expanded="false">
                            <i class="ti-trash"></i>
                            Xóa Mục Đã Chọn
                        </button>
                    </div>
                    <div class="search-container">
                        <label>Tìm Kiếm :<input type="search" class="form-control search" placeholder="" aria-controls="example23"></label>
                        <button class="btn btn-secondary" type="submit"><i class="fa fa-search "></i></button>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-bordered table table-striped table tableQuanLiNguoiDung">
                            <thead>
                                <tr>
                                    <th style="width: 5%; position: relative;" name="TrangThai" "=" ">
                                        <input type="checkbox" id="checkAll" name="TrangThai">
                                    </th>
                                    <th style="width: 5%; position: relative;" name="SoThuTu" "=" ">STT</th>
                                    <th style="width: 20%; position: relative;" name="TenNguoiDung">Tên Người Dùng</th>
                                    <th style="width: 20%; position: relative;" name="HoVaTen">
                                        Họ Và Tên
                                        <i class="fas fa-sort"></i>
                                    </th>
                                    <th style="width: 20%; position: relative;" name="SoDienThoai">Số Điện Thoại</th>
                                    <th style="width: 35%; position: relative;" name="DiaChi">Địa Chỉ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td type="checkbox">
                                        <input type="checkbox" name="TrangThai">
                                    </td>
                                    <td>
                                        1
                                    </td>
                                    <td><a href="javascript:void(0)" class="edit">tennguoidung8</a></td>
                                    <td>Lê Hữu An</td>
                                    <td>0123456789</td>
                                    <td>Thửa đất số 2205, Tờ bản đô số 58, Khu Phố Tân An - PhườngTân Đông Hiệp, TX Dĩ An</td>
                                </tr>
                                <tr>
                                    <td type="checkbox">
                                        <input type="checkbox" name="TrangThai">
                                    </td>
                                    <td>2</td>
                                    <td><a href="javascript:void(0)" class="edit">tennguoidung</a></td>
                                    <td>Lê Hữu An</td>
                                    <td>0123456789</td>
                                    <td>Thửa đất số 2205, Tờ bản đô số 58, Khu Phố Tân An - PhườngTân Đông Hiệp, TX Dĩ An</td>
                                </tr>
                                <tr>
                                    <td type="checkbox">
                                        <input type="checkbox" name="TrangThai">
                                    </td>
                                    <td>3</td>
                                    <td><a href="javascript:void(0)" class="edit">tennguoidung6</a></td>
                                    <td>Lê Hữu An</td>
                                    <td>0123456789</td>
                                    <td>Thửa đất số 2205, Tờ bản đô số 58, Khu Phố Tân An - PhườngTân Đông Hiệp, TX Dĩ An</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="dataTables_paginate" id="myTable_paginate">
                        <ul class="pagination">
                            <li class="paginate_button page-item previous disabled" id="myTable_previous">
                                <a href="#" aria-controls="myTable" data-dt-idx="0" class="page-link">Trước</a>
                            </li>
                            <li class="paginate_button page-item active"><a href="#" class="page-link">1</a></li>
                            <li class="paginate_button page-item "><a href="#" class="page-link">2</a></li>
                            <li class="paginate_button page-item "><a href="#" class="page-link">3</a></li>
                            <li class="paginate_button page-item "><a href="#" class="page-link">4</a></li>
                            <li class="paginate_button page-item "><a href="#" class="page-link">5</a></li>
                            <li class="paginate_button page-item "><a href="#" class="page-link">6</a></li>
                            <li class="paginate_button page-item next" id="myTable_next">
                                <a href="#" aria-controls="myTable" data-dt-idx="7" class="page-link">Sau</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Begin Modal -->
    <!-- sample modal content -->
    <div id="verticalcenter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="vcenter" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="vcenter">Thông Báo!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <h4>Bạn có chắc chắn muốn xóa không?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Xóa</button>
                    <button type="button" class="btn btn-info waves-effect " data-dismiss="modal">Hủy</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>                          <!-- /.modal -->
</div>
<!-- ============================================================== -->
<!-- End Info box -->
